<div class="gradient">
  <h4>My projects</h4>
  <p></p>
  <div style="padding: 10px 0"></div>
  <%= link_to "Add new project", new_project_path %>
  <div style="padding: 10px 0"></div>
  <div class="table-responsive">
    <table class=" projects table table-hover table-bordered">
       <thead>
           <tr class="table-primary">
              <th>N</th>
              <th>Name</th>
              <th>current_user.id</th>
              <th>project.user_id</th>
              <th></th>
            </tr>
        </thead>
        <tbody>
          <% @projects.each do |project|%>
            <tr data-project_id = "<%= project.id%>">
              <td><%= project.id %></td>
              <td><%= project.name %></td>
              <td><%= current_user.id %></td>
              <td><%= project.user_id %></td>

              <td><%= link_to "Tasks of project  /", "#" %>
                  <%= link_to "Update  /", 'edit_project_path(project)'%>
                  <span class='deleteAction'>Удалить</span></td>
            </tr>
          <% end %>
      </tbody>
    </table>
   </div>


  <h4>My tasks</h4>
  <p></p>
  <div style="padding: 10px 0"></div>
  <%= link_to "Add new task", 'project_tasks_path(@project)' %>
  <div style="padding: 10px 0"></div>

  <div class="table-responsive">
    <table class=" tasks table table-hover table-bordered">
       <thead>
           <tr class="table-primary">
              <th>N</th>
              <th>Name</th>
              <th>current_user.id</th>
              <th>task.user_id</th>
              <th>task.status</th>
              <th>task.deadline</th>
              <th>task.priority</th>
              <th></th>
            </tr>
        </thead>
        <tbody>
          <% @tasks.each do |task|%>
            <tr>
              <td><%= task.id %></td>
              <td><%= task.name %></td>
              <td><%= current_user.id %></td>
              <td><%= task.user_id %></td>
              <td><%= task.status_flg %></td>
              <td><%= task.deadline %></td>
              <td><%= task.priority %></td>

              <td>
                  <%= link_to "Edit /", 'edit_project_task_path(@project,task)'%>
                  <%= link_to "Delete", 'project_task_path(@project,task)',
                                        method: :delete,
                                        data: {confirm: "Are you sure delete task"} %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
   </div>
</div>
