<div class="projects" id="project_label_<%= project.id %>">
  <div class="projects form-row  p-3 mb-2 bg-primary text-white" >
          <div class="col-10">
            <span class="label" id="edit_name_<%= project.id %>"><%= project.name %></span> 
          </div>
          <div class="col-1">
            <button type="submit" class="btn-link"><%= link_to "Edit", edit_project_path(project), id: "edit_link",remote: true %></button>
          </div>
          <div class="col-1">
            <button type="submit" class="btn-link"><%= link_to "Remove", project, method: :delete, data: {confirm: "Are you sure?"}, remote: true %></button>
          </div>
  </div>
</div>