<div class="projects" id="project_<%= project.id %>">

<!--   <%= form_for project, remote: true do |f| %>  -->
  
    <div class="form-row  head  p-3 mb-2 bg-primary text-white">
        <div class="col-10">
          <label id="edit_name_<%= project.id %>"><%= f.label :complete, project.name ,id: "edit_prog" %></label> 
            <input name='project[name]'  type="text" class="form-control hidden" id='edit_project_name_<%= project.id %>' >
          </div>

        <div class="col-1 edit">
          <button type="submit" class="btn-link"><%= link_to "Edit", edit_project_path(project), id: "edit_link",remote: true %></button>
        </div>

         <!-- <div class="col-1">
          <button type="submit" class="">Update</button>
         </div> -->


        <div class="col-1">
          
          <button type="submit" class="btn-link"><%= link_to "Remove", project, method: :delete, data: {confirm: "Are you sure?"}, remote: true %></button>
        </div>

      </div>
  
 
<!--    <% end %>  -->


<%= form_tag  project_tasks_path(project), remote: true do   %>
  
  <div class="form-row head1 ">
 
<!--     <%= link_to " + ", new_project_task_path(project), id: "new_link_#{project.id}", remote: true, class: 'btn btn-outline-success disabled' %>
 -->    <div class="col-10">
      <input type="text" name='task[name]' class="form-control " placeholder="Start typing here to create a task .." aria-label="", id='new_task_name_<%= project.id %>' >
    </div>
    <div class="centr">
      <button class="btn btn-outline-success" type="submit">Add task</button> 
    </div>
  </div>

<%end%>


  <div id='project_tasks_<%= project.id%>'>
    <% project.tasks.each do |task| %>
     <%= render partial: 'tasks/task', locals: { project: project, task: task } %>
    <% end %>
  </div>

</div>
